{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}
{% block body %}
        <h1>Log in</h1>
        <form action="{{ url_for('log') }}" method="post">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Log in</button>
            </div>
        </form>
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post">
            <div class="form-group">
                <input class="form-control" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>

            <div class="form-group">
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
